<h1>New spacecraft</h1>
<%= simple_form_for(@spacecraft) do |f| %>
  <%= f.input :name %>
  <%= f.input :velocity %>
  <%= f.input :passager_capacity %>
  <%= f.input :price %>
  <%= f.submit %>
<% end %>
