<h1><strong>Dashboard</strong></h1>

<h2>My Reservations</h2>
<% @user_reservations.each do |reservation| %>
  <p>Reference No: <%= reservation.id %>000BNB </p>
  <p>Comment: <%= reservation.comment %></p>
  <p>Status: <%= reservation.reservation_status %></p>
  <p>Spaceship: <%= reservation.spacecraft.name %> </p>
  <br>
<% end %>

<h2>My Posts</h2>
<% @reservations.each do |reservation| %>
  <% if reservation.user_id != @user.id %>
    <p>Reservation id: <%= reservation.id %></p>
    <p>Spacecraft: <%= reservation.spacecraft.name %></p>
    <p>Reservation id: <%= reservation.comment %></p>
    <p>Reservation status: <%= reservation.reservation_status %></p>

    <%= simple_form_for(reservation) do |f| %>
        <%= f.hidden_field :reservation_status, value: 'accepted' %>
        <%= f.submit :Accept %>
    <% end %> <!-- form Accept -->

    <%= simple_form_for(reservation) do |f| %>
      <%= f.hidden_field :reservation_status, value: 'rejected' %>
      <%= f.submit :Reject %>
    <% end %> <!-- form Accept -->

    <br>
  <% end %> <!-- if -->
<% end %> <!-- each -->
