<!-- http://localhost:3000/spacecrafts/:id/reservations/new -->
<div class="banner" style="background-image: url(https://m.media-amazon.com/images/I/81ulx1Dk+HL.jpg);">
  <div class="container">
    <h1>New Reservation</h1>
    <div class="container">
    <%= simple_form_for([@spacecraft, @reservation]) do |f| %>
      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

      <div class="form-inputs">
        <%= f.input :comment %>
      </div>

      <div class="form-actions">
        <button>
          <%= f.button :submit %>
        </button>
      </div>
    <% end %>


    <br>


    <div>
      <button>
        <%= link_to "Back to spacecraft", spacecraft_path(@spacecraft) %>
      </button>
    </div>
  </div>
</div>
